/********************************************     STYLING CHARTS     ************************************/


.selector-for-some-widget {
  box-sizing: content-box;
}
/***************    Text on content    *******************/
	g .x.axis text {
    text-anchor: end !important; 
    transform: rotate(90deg);
    font-size: 1.rem;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-bottom: -100px;
    display: inline-block;
    padding: 50px;
    
   
}

	g .y.axis text {
    text-anchor: end !important; 
    transform: rotate(-1150deg);
	}

 
 
	
/*####################    NAVBAR   ##########################*/



a{
    color:white;
    background-color:white;
}

a:hover{
    color:white;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30rem;
}

h3{
  font-family: sans-serif;  
  font-size: 10rem;
  padding-left: 20px;
  margin: 30px;
}


.buttonNav{
    color: white;
    text-align: left;
}

.titleNav
{
    color: white;
}

/*####################    BODY    ##########################*/

body{
    margin: 0px;
    padding: -20px;
    max-height: auto;
    max-width: auto;
    
}


#svg{
    padding:0px;
    max-width: auto;
    
}

.card text-center {
    background-color: blue;
}


/*####################    Footer     ##########################*/

i{
    border: 2px solid white;
    border-radius: 5px;
}
.col-md-6 text-rigth{
    text-align: right;
}



