/********************************************Styling Charts************************************/

/*######Text on chart*******************/
	g .x.axis text {
    text-anchor: end !important; 
    transform: rotate(90deg);
    font-size: 1.rem;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-bottom: -100px;
    display: inline-block;
    padding: 50px;
    
   
}

	g .y.axis text {
    text-anchor: end !important; 
    transform: rotate(-1150deg);
	}
	
	
/*#######################NAVBAR*******************************************/
nav{
    height: 160%;
    padding-bottom: 100px;
    padding-top:30px;
}



a{
    color:white;
    background-color:yellow;
}

a:hover{
    color:yellow;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30rem;
}


.titleNav{
   
  
}

.buttonNav{
    color: black;
    text-align: left;
}

/*####################BODY******************************************/

body{
    background-color: silver;
    margin: 0px;
    padding: 0px;
    max-height: auto;
    max-width: auto;
    
}

.svg{
    padding:0px;
    max-width: auto
    margin-bottom: auto;
}

.card text-center {
    background-color: blue;
}


/*####################        Footer ##########################*/

i{
    border: 2px solid white;
    border-radius: 5px;
}
.col-md-6 text-rigth{
    text-align: right;
}